<!DOCTYPE html>
<html ng-app="vackerApp">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" type="text/css" href="/static/css/vacker.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script src="/static/js/vacker.js"></script>
</head>

<body ng-controller="PhotoController">

  <div class="selecter-row" id="year-selecter">
    <div class="item" ng-click="select_year(year)" ng-repeat="year in years">
      <img class="item-img" src="http://bestanimations.com/Science/Gears/loadinggears/loading-gear.gif" ng-src="{{ get_thumbnail_url('years/' + year, year_random) }}">
      <div class="item-title">{{ year }}</div>
    </div>
  </div>
  <div class="selecter-row" id="month-selecter" ng-show="show_month_selecter">
    <div class="item" ng-click="select_month(month)" ng-repeat="month in months">
      <img class="item-img" src="http://bestanimations.com/Science/Gears/loadinggears/loading-gear.gif" ng-src="{{ get_thumbnail_url('years/' + selected_year + '/months/' + month, month_random) }}">
      <div class="item-title">{{ month_names[month] }}</div>
    </div>
  </div>
  <div class="selecter-row" id="day-selecter" ng-show="show_day_selecter">
    <div class="item" ng-click="select_day(day)" ng-repeat="day in days">
      <img class="item-img" src="http://bestanimations.com/Science/Gears/loadinggears/loading-gear.gif" ng-src="{{ get_thumbnail_url('years/' + selected_year + '/months/' + selected_month + '/days/' + day, day_random) }}">
      <div class="item-title">{{ day }}</div>
    </div>
  </div>
  <div class="selecter-row" id="event-selecter" ng-show="show_event_selecter">
    <div class="item" ng-click="select_event(event.id)" ng-repeat="event in events">
      <img class="item-img" src="http://bestanimations.com/Science/Gears/loadinggears/loading-gear.gif" ng-src="{{ get_thumbnail_url('events/' + event.id, event_random) }}">
      <div class="item-title">{{ event.set_count }} sets</div>
    </div>
  </div>
  <div class="selecter-row" id="set-selecter" ng-show="show_set_selecter">
    <div class="item" ng-click="select_set(set.id)" ng-repeat="set in sets">
      <img class="item-img" src="http://bestanimations.com/Science/Gears/loadinggears/loading-gear.gif" ng-src="{{ get_thumbnail_url('sets/' + set.id, set_random) }}">
      <div class="item-title">{{ set.media_count }} {{ set.media_count == 1 ? 'photo' : 'photos' }}<!-- Not Really photos, could be videos, once they are processed --></div>
    </div>
  </div>
  <div class="selecter-row" id="media-selecter" ng-show="show_media_selecter">
    <div class="item" ng-repeat="media_id in media">
      <img class="item-img" src="http://bestanimations.com/Science/Gears/loadinggears/loading-gear.gif" ng-src="{{ get_media_thumbnail_url(media_id) }}">
      <div class="item-title"></div>
    </div>
  </div>
</body>
</html>
